@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

body{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #000000;
	background-image: url("images/fond_CV.png");
	background-repeat: no-repeat;
    background-position: top;
}

ul { margin:10;
     padding:10;
     list-style-type: "> ";
}

hr{
	width:50%;
	height: 3px;
	border-radius: 50%;
	background: #d0826f;
	text-align: center;
}

h3{
	text-align: left;
	color: #d0826f;
}

/*--flex 1--*/
header{
	flex: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	width: 100%;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 30px 10px;
	box-sizing: border-box;
}

.photo_identite > img{
	width: 300px;
	border-radius: 50%;
	padding: 5%;
	margin: 5%;
}

/*logo mail git linkedin*/
.logo{
	position:relative;
	height: 40px;
}

.titre_resume{
	position: -webkit-sticky;
	position:relative;
	text-align: center;
}

.titre_CV{
	text-align: center;
	color: #d0826f;
	padding: 20px;
	margin: 30px;
}

.resume{
	font-style: italic;
	text-align: center;
	line-height: 25px;
	font-size: 25px;

	padding: 10px 20px 10px 20px;
	margin: 10px 20px 10px 20px;
}

/*--flex 2--*/
/*partie principale*/
main{
	flex:2;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

/*--flex 2-1--*/
aside{
	width: 100%;
    background-color: lightgrey;
    line-height: 20px;
    padding: 10%;
	margin: 5%;
}

/*div dans aside*/
div{
	/*padding: 5px 5px 5px 5px;*/
	/*margin: 5px 5px 5px 5px;*/
}

/*nom prenom*/
.presentation{
	text-align: center;
}

/*mise en page asso*/
.asso{
	list-style: none;
}

/*test couleur barre progression*/
#file{
	padding-right: 10px;
    font-size: 1rem;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
}

progress[value]::-webkit-progress-value {
    background-color: #d0826f;
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

/*mise en page valeur et centre interets*/
.inside{
	list-style-position: inside;
}

/*--flex 2-2--*/
/*FORMATIONS ET EXPERIENCES*/
.formations-experiences{
	flex-wrap: wrap;
	position: relative;
    width: 100%;
    display: inline-block;
    justify-content: flex-start;
    padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	list-style-position: outside;
}

.h2-form-exp{
	font-weight: bold;
	text-align: center;
}

/*mise en page 1ere ligne <li> */
.sous-titre{
	text-align: left;
	font-weight: bold;
	list-style: none;
}

/*mise en page 2eme et + ligne <li> */
.description{
	list-style-position: inside;
}

.h3-aside{
	text-align: center;
	color: #d0826f;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
}

/*--flex 2-21--*/
footer{
	flex:3;
}


/*******************************************/

/*mobile :on screens that are 375px or less*/
@media screen and (max-width: 375px) { 
}

/****************************************************/

/*tablet :on screens that are min 376px, set the followings*/
@media screen and (max-width: 1094px) and (min-width: 834px) {
	body{font-size: 20px;}
	.photo_identite > img{
		width: 450px;
		padding: 5% 10% 5% 10%;
		margin: 5% 10% 5% 12%;
	}
	.resume{
		line-height: 35px;
		font-size: 30px;
	}
	aside{
		line-height: 25px;
	    padding: 5%;
	}
	.h3-aside{
		padding: 2%;
		margin: 2%;
		font-size: 30px;
	}
	.formations-experiences{
		padding: 5%;
		margin: 2%;
	}
	
}

/****************************************************/

/*desktop: on screens that are 1094px or more, set the followings */
@media screen and (min-width: 1094px) {
/*	aside {width: 30%;}
	.formations-experiences {width: 70%;}
	img{max-width: 100%;height: auto;}*/

	body{
	    font-size: 25px;
	}
	ul { margin:10;
	     padding:10;
	}
	hr{
		width:60%;
	}
	.photo_identite > img{
		width: 500px;
		padding: 5%;
		margin: 2%;
	}

	.logo{
		height: 50px;
	}

	.titre_CV{
		padding: 20px;
		margin: 30px;
	}

	.resume{
		/*line-height: 25px;*/
		font-size: 35px;

		padding: 10px 20px 10px 20px;
		margin: 10px 20px 10px 20px;
	}
	main{
		flex-direction: row;
		flex-wrap: nowrap;
	}
	aside{
		width: 30%;
		font-size: 20px;
		float: left;
		padding: 2%;
		margin: 2%;
	}

	/*div dans aside*/
	div{
		line-height: 30px;
		padding: 3%;
	    margin:3%;
	}

		.formations-experiences{
	    width: 60%;
	    font-size: 20px;
	    float: right;
	    padding: 2%;
		margin: 2%;
	}
	.liste_description{
		padding: 1%;
		margin: 1%;
	}

	article > div{
		padding: 1%;
		margin: 1%;
	}

}

/*id : utilisé une seule fois
class: le même nom utilisable plusieurs fois*/