@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

body{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #000000;
	background-image: url("images/fond_CV.png");
	background-repeat: no-repeat;
    background-position: top;
}

ul { margin:10;
     padding:10;
     list-style-type: "> ";
}

hr{
	width:50%;
	height: 3px;
	border-radius: 50%;
	background: #d0826f;
	text-align: center;
}

h2{
	text-align: center;
	color: #d0826f;
}

header{
	flex: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	width: 100%;
	padding: 10px;
	margin: 10px;
	box-sizing: border-box;
}

#photo_identite > img{
	width: 250px;
	border-radius: 50%;
	padding: 5%;
	margin: 5%;
}

/*logo mail git linkedin*/
.logo{
	position:relative;
	height: 40px;
}

#titre_CV{
	position: -webkit-sticky;
	position:relative;
	text-align: center;
	text-align: center;
	color: #d0826f;
	padding: 20px;
	margin: 30px;
}

#resume{
	position: -webkit-sticky;
	position:relative;
	text-align: center;
	font-style: italic;
	text-align: center;
	line-height: 25px;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	margin: 10px 20px 10px 20px;
}

/*partie principale*/
main{
	flex:2;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

aside{
	width: 100%;
    background-color: lightgrey;
    line-height: 20px;
    padding: 10%;
	margin: 5%;
}

/*div dans aside*/
div{
	/*padding: 5px 5px 5px 5px;*/
	/*margin: 5px 5px 5px 5px;*/
}

/*nom prenom*/
#presentation{
	text-align: center;
}

#asso{
	list-style: none;
}

/*couleur barre progression*/
.file{
	padding-right: 10px;
    font-size: 1rem;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
}

progress[value]::-webkit-progress-value {
    background-color: #d0826f;
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

/*mise en page valeur et centre interets*/
.inside{
	list-style-position: inside;
}

/*FORMATIONS ET EXPERIENCES*/
.formations-experiences{
	flex-wrap: wrap;
	position: relative;
    width: 100%;
    display: inline-block;
    justify-content: flex-start;
    padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	list-style-position: outside;
}

.h2-form-exp{
	font-weight: bold;
	text-align: center;
}

/*mise en page 1ere ligne <li> */
.sous-titre{
	text-align: left;
	font-weight: bold;
	list-style: none;
}

/*mise en page 2eme et + ligne <li> */
.description{
	list-style-position: inside;
}

.h2-aside{
	text-align: center;
	color: #d0826f;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
}

footer{
	flex:3;
}


/*******************************************/

/*mobile :on screens that are 375px or less*/
@media /*screen*/ all and (max-device-width: 480px) { //avant : 375px
}


/*tablet :on screens that are min 376px, set the followings*/
@media screen and (max-width: 1094px) and (min-width: 834px) {
	body{font-size: 15px;}

	#titre{
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: flex-start;
		align-content: center;
	}

	#photo_identite > img{
		width: 300px;
		padding-left: 5%;
		margin-left: 20%;
	}

	.logo{height: 35px;}

	#resume{
		line-height: 35px;
		font-size: 20px;
	}
	aside{
		line-height: 25px;
	    padding: 5%;
	    font-size: 15px;
	}
	.h2-aside{
		padding: 2%;
		margin: 2%;
		font-size: 25px;
	}
	.formations-experiences{
		padding: 5%;
		margin: 2%;
		font-size: 15px;
	}
	
}

/****************************************************/

/*desktop: on screens that are 1094px or more, set the followings */
@media screen and (min-width: 1094px) {
	body{font-size: 15px;}

	ul { margin:10;
	     padding:10;}

	hr{width:60%;}

	#photo_identite > img{
		width: 350px;
		float: left;
		padding: 2%;
		margin: 2%;
	}

	.logo{height: 40px;}

	#titre{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
		align-content: center;
		height: 370px;
    	padding: 1%;
		margin: 1%;
	}

	#titre_CV{
		padding: 20px;
		margin: 30px;
		line-height: 65px;
	}

	#resume{
		font-size: 25px;
		padding: 10px 20px 10px 20px;
		margin: 10px 20px 10px 20px;
	}

	main{
		flex-direction: row;
		flex-wrap: nowrap;
	}
	aside{
		width: 30%;
		font-size: 15px;
		float: left;
		padding: 2%;
		margin: 2%;
	}

	/*div dans aside*/
	div{
		line-height: 30px;
		padding: 3%;
	    margin:3%;
	}

	.formations-experiences{
	    width: 60%;
	    font-size: 15px;
	    float: right;
	    padding: 2%;
		margin: 2%;
	}
	.liste_description{
		padding: 1%;
		margin: 1%;
	}

	article > div{
		padding: 1%;
		margin: 1%;
	}
}

